{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

<h1 align= "left" > Welcome, {{ name }} </h1>

<div align = "left"> 

<h5> Getting Started</h5>
<p> This tool is designed to make a SCS teacher's life just a little bit easier. </p>
<p> It figures out who on your roster did not attend your TEAMS meeting. </p>
<p> Start by uploading your PowerSchool rosters.</p>
<p> Then you'll be able to upload the TEAMS meeting .csv files and Attendance Helper! will show you who is absent.</p>
</div>
{% endblock %}