{% extends "layout.html" %}
{% block title %}

  Take Attendance

{% endblock %}

{% block main %}

        <h3> Upload your meeting attendance</h3>
        <form action = "/takeAttendance" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "meetingFile" />
         
         <label for="class_select"> Which Roster?</label>
         <select id="class_select" name="class_name">
             <option disabled selected value = ""> Choose a roster</option>
             {% for class_name in list_of_class_names %}
             
             <option  value= "{{ class_name }}"> {{ class_name }} </option>
             {% endfor %}
         </select>

         <input type = "submit"/>
        </form>   

{% endblock %}